.mbuilder-image-picker.file{
    border: none;
    padding: 5px 0;
    width: auto;

    .select-file{
        display: block;
        line-height: 30px;
        
        &.selected{
            border: navajowhite;
            font-size: 12px;
            line-height: 1em;
            word-break: break-all;
            white-space: normal;
            padding: 3px 0 0;
        }
    }
    .remove-imagepicker{
        margin-top: 0;
    }
}