.mbuilder-image-picker{
    width: 200px;
    border: solid 1px #c9c9c9;
    padding: 10px;

    .image-box{
        cursor: pointer;
    }

    .remove-imagepicker{
        display: block;
        margin-top: 10px;
        text-align: center;
    }
}