@import "_loader";
@import "element/_toggle";
@import "element/_image-picker";
@import "element/_file-picker";
@import "layout/_container";
@import "layout/_image";
.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active{
    @include gradientText;
    border:solid 1px $gradient-start;
    background: #fff;
    @include box-shadow(none);
    text-shadow: none;

    &:hover{
        @include gradientBg;

    }
}
.wp-core-ui .button.button-primary{
    @include gradientBg;
    border:none;
    @include box-shadow(none);
    text-shadow: none;
    line-height: 26px;

    &:hover{
        background: $gradient-start;
        color: #fff;
        border: none;
    }

}
.wp-core-ui .button, .wp-core-ui .button-secondary{
    background: #fff;
    border:solid 2px $gradient-start;
    color: $gradient-start;
    @include box-shadow(none);
    text-shadow: none;
    line-height: 24px;

    &:hover{
        border:solid 2px $gradient-start;
    }

    span{
        color: $gradient-start;
        
        &:before{
            color: $gradient-start;
        }
    }
}

#msp-footer-thankyou{
    font-style: italic;
}

#adminmenu{
    margin: 0;
    .wp-submenu{
        padding: 0;
    }
}
#adminmenu .menu-icon-microsite-builded .wp-submenu{
    > .wp-first-item{
        background: #2d3f6c;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: solid 5px #333;
    }
}