
/**
 * Table layout
 */
 .table-layout{
	display: table;
	table-layout: auto;
	width: 100%;

	&.fixed {
		table-layout: fixed;
	}

	&.full-height {
		height: 100%;
	}

	.table-cell {
		display: table-cell;
        vertical-align:top;

		&.auto-width {
			width: 1%;
			white-space: nowrap;
		}
		&.valign-middle{
			vertical-align: middle;
		}
	}

	.table-row {
		display: table-row;
	}
}