/**
 * Box model for image, make sure the box with correct ratio
 * default the box will guard the image based on its width
 * you can change the guard style into "guard-height" or "boxed"
 */
 @mixin boxImagePicture{
    position: absolute;
    left: 50%;top: 50%;
    display: block;
    @include translate(-50%, -50%);
    max-width: 100%;
    height: auto;
 }
.image-box{
    overflow: hidden;
    position: relative;
    display: block;
    background: #f9f9f9;
    &.brand-background{
        background: $brand;
    }

    &.guard-height{
        > img{
            max-height: 100%;
            max-width: none;
            width: auto;
        }
        > picture img{
            max-height: 100%;
            max-width: none;
            width: auto;
        }
        > .img{
            max-height: 100%;
            max-width: none;
            width: auto;
        }
    }
    &.boxed{
        > img{
            max-height: 100%;
            max-width: 100%;
            height: auto;
            width: auto;
        }
        > picture img{
            max-height: 100%;
            max-width: 100%;
            height: auto;
            width: auto;
        }
        > .img{
            max-height: 100%;
            max-width: 100%;
            height: auto;
            width: auto;
        }
    }
    &:before{
        display: block;
        content: " ";
        padding-top: 0% + (428 / 960 * 100);
    }
    &.square{
        &:before{
            padding-top: 100%;
        }
    }

    > img{@include boxImagePicture}
    > .img{@include boxImagePicture}

    > picture{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        img{@include boxImagePicture}
    } 

    .default-image-wrapper{
        position: absolute;
        left: 0;right: 0;
        top: 0;bottom: 0;
    }
}