@import "../_loader";

$menu-background : $gradient-start;
$menu-color     : $gradient-white;

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after{
    display: none;
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu{
    background-color: #0073aa;
    @include filter-gradient(#0073aa, $gradient-start, horizontal);
    @include background-image(linear-gradient(135deg, #0073aa 0%,$gradient-start 100%));
    
}
#adminmenu .wp-submenu li.current{
    position: relative;
    cursor: text;
    &:after{
        content: " ";
        display: block;
        position: absolute;
        left: 0;right: 0;
        top: 0;bottom: 0;
        z-index: 2;
    }
}

.auto-fold #wpfooter{
    margin-left: 256px;

    @media (min-width : $screen-lg){
        margin-left: 380px;
    }

}
#wpfooter{
    z-index: 2;
    margin-left: 380px;
    background: #fff;
}

div.error, div.updated{
    margin:0 0 20px;
}

/**
 * Base Dashboard
 */
#mbuilder-dashboard{
    position: fixed;
    top: 46px;
    left: 0;right: 0;
    bottom: 0;
    z-index: 2;
    background: #23282d;

    #dashboard-header{
        position: absolute;
        top: 0;height: 40px;
        left: 0;right: 0;
        background: #222;
        display: none;
        
        #mobile-control-toggle{
            display: block;
            width: 40px;
            height: 40px;;
            background: $orange;
            overflow: hidden;
            position: absolute;
            left: 0;
            top:0;
            border-left: solid 5px darken($orange,20%);
    
            .dashicons{
                display: block;
                color: #fff;
                font-size: 35px;
                height: 100%;
                width: 100%;
                text-align: center;
                line-height: 42px;
            }
        }
    }

    #dashboard-controls{
        position: absolute;
        display: none;
        left: 36px;top:0;bottom: 0;
        width: 200px;
        padding: 20px 10px;
        margin: 0;
        @include gradientBg;
        color: #fff;
        z-index: 2;
        border-right:solid 1px #fff;
        overflow: hidden auto;

        ul{
            margin: 0;padding: 0;
        }

        a{
            text-decoration: none;
            color: inherit;
            outline: none !important;
            box-shadow: none !important;
            display: inline-block;
            margin-top: 2px;
        }

        .section{
            margin-bottom: 20px;
            position: relative;
            .section-title{
                font-size: 22px;
                color: $menu-color;
                margin: 0;
                font-weight: 200;
                font-family: 'Quattrocento Sans', sans-serif;
            }
        }
        .control-group{
            margin: 20px 0;
            .group-title{
                text-transform: uppercase;
                font-size: 12px;
                color: $menu-color;
                font-weight: 200;
                margin: 0;
                font-family: 'Open Sans', sans-serif;
            }
        }
        .controls{
            .control{
                font-size: 14px;
                color: $menu-color;
                margin: 10px 0;
                padding-left: 30px;
                position: relative;
                font-family: 'Quattrocento Sans', sans-serif;
                &:hover{
                    color: $orange;

                    .the-icon{
                        color: $orange;
                    }
                }
                &.active{
                    &:after{
                        right: -11px;
                        border: 8px solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-right-color: #fff;
                        top: 50%;
                        margin-top: -8px;
                    }
                }
            }
            .the-icon{
                position: absolute;
                width: 20px;height: 20px;
                left: 0;
                top: 0;
                color: inherit;
            }
        }
    }

    #dashboard-content{
        position: absolute;
        padding-bottom: 40px;
        top: 0;bottom: 0;
        left: 0;right: 0;
        z-index: 1;
        min-width: 320px;
        overflow: auto;
        background: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;line-height: 1.7em;
    }

    #dashboard-content-title{
        padding: 20px 100px 15px 0;
        margin: 0 10px;
        border-bottom: solid 1px darken(#f1f1f1, 5%);
        color: $brand;

        &.no-icon{
            .the-title-block{
                padding-left: 0;
            }
        }

        .the-title-block{
            position: relative;
            padding-left: 100px;
            .dashicons{
                text-align: center;
                font-size: 25px;
                width: 30px;height: 25px;
            }
            .the-microsite-home{
                color: $brand;
                text-decoration: none;
                padding: 14px 10px 0 0;
                display: block;
                position: absolute;
                left: 0;top: -15px;bottom: -10px;
                width: 30px;
                border-right: solid 2px $menu-background;

                &:focus{
                    @include box-shadow(none);
                }
                &:hover{
                    color: $orange;
                }
            }
            .the-icon-block{
                display: block;
                position: absolute;
                left: 55px;top: 0;
                width: 30px;height: 25px;
            }
            .the-title{
                font-weight: 400;
                margin: 0;
                @include gradientText;
            }
        }
    }

    #dashboard-content-block{
        padding: 10px;
    }

    @media (min-width : $screen-md){
        top: 32px;left: 36px;


        #dashboard-controls{
            top: 0;
            left: 0;
            display: block;
        }

        #dashboard-content{
            top: 0;
            left: 220px;
        }

    }

    @media (min-width : $screen-lg){
        left: 160px;
    }
}

#microsite-dashboard-identity{
    padding: 20px;
    background: #fff;
    @include box-shadow(0px 1px 10px #c9c9c9);
    position: relative;

    .the-microsite-title{
        margin: 0 0 10px;
        line-height : 1.25em;
        @include gradientText;
    }
    .the-home-url{
        text-decoration: none;
        color: $gradient-start;
        .dashicons{
            margin-right: 5px;
            vertical-align: text-top;
        }
    }

    @media (min-width : $screen-md){
        padding: 20px 20px 10px;
    }
}

#microsite-dashboard-info{
    margin: 30px 0 10px;
    $info-gradient-start : #9385F5;$info-gradient-end:#BD6BE9;
    .color-scheme-1 .wrapper{
        background-color: $info-gradient-start;
        @include filter-gradient($info-gradient-start, $info-gradient-end, horizontal);
        @include background-image(linear-gradient(135deg, $info-gradient-start 0%,$info-gradient-end 100%));
        @include box-shadow(1px 5px 10px $info-gradient-start);
    }

    $info-gradient-start : #FA67A9;$info-gradient-end:#F8AF58;
    .color-scheme-2 .wrapper{
        background-color: $info-gradient-start;
        @include filter-gradient($info-gradient-start, $info-gradient-end, horizontal);
        @include background-image(linear-gradient(135deg, $info-gradient-start 0%,$info-gradient-end 100%));
        @include box-shadow(1px 5px 10px $info-gradient-start);
    }

    $info-gradient-start : #46B8E6;$info-gradient-end:#66D070;
    .color-scheme-3 .wrapper{
        background-color: $info-gradient-start;
        @include filter-gradient($info-gradient-start, $info-gradient-end, horizontal);
        @include background-image(linear-gradient(135deg, $info-gradient-start 0%,$info-gradient-end 100%));
        @include box-shadow(1px 5px 10px $info-gradient-start);
    }

    $info-gradient-start : #75B7F9;$info-gradient-end:#7B53F4;
    .color-scheme-4 .wrapper{
        background-color: $info-gradient-start;
        @include filter-gradient($info-gradient-start, $info-gradient-end, horizontal);
        @include background-image(linear-gradient(135deg, $info-gradient-start 0%,$info-gradient-end 100%));
        @include box-shadow(1px 5px 10px $info-gradient-start);
    }
    .the-info{
        max-width: 200px;
        padding: 0 10px 10px;
        .wrapper{
            color: #fff;
            border: none;
            @include border-radius(10px);
            padding: 15px 20px 25px;
            @include box-sizing(border-box);
        }
        .info-title{
            font-weight: 200;
            margin-bottom: 10px;
            display: block;
            font-size: 12px;
        }
        .info-value{
            font-weight: 800;
            display: block;
            font-size: 16px;
        }
    }

    @media (min-width : $screen-sm){
        display: flex;
        .the-info{
            width: 25%;
            padding-bottom: 0;

            .wrapper{
                height: 100%;
            }
        }
    }
}

/**
 * Main section styling
 */
#msp-section-dashboard{
    &:before{
        content: " ";
        display: block;
        position: absolute;
        left: -3px;top: -6px;
        width: 30px;height: 30px;
        background-image: image-url('logo.png');
        background-repeat: no-repeat;
        background-size: 30px 30px;
    }
    > .section-title{
        padding-left: 30px;
        font-size: 16px !important;
    }
}

.auto-fold{
    #wpwrap.wp-responsive-open{
        @media screen and (max-width: $screen-md){
            #adminmenuback{
                width: 36px;
            }
            #adminmenu{
                width: 36px;
        
                > li > a{
                    padding: 0;

                    &:after{
                        visibility: hidden;
                    }
        
                    .wp-menu-name{
                        position: absolute;
                    }
                }

                .wp-submenu{
                    display: none;
                }
            }
            #mbuilder-dashboard{
                #dashboard-controls{
                    display: block;
                }
                #dashboard-content{
                    left: 220px + 36px;
                }
            }
        }        
    }

}

/**
 * DMD Dashboard Integration
 */
body.dmddb-bar{
    &.dmddb-hide-wpbar{
        #mbuilder-dashboard{
            left: 0;
        }
    }
}