@import "../_loader";

#mhp-microsite-mock{
    padding: 5px;
    background: #e9e9e9;
    border: solid 1px #c9c9c9;
}
#homepage-builder{
    ul{
        padding: 0;margin: 0;
    }
}
#dashboard-content-block{
    height: calc(100% - 80px);
}
#homepage-builder{
    opacity: 1 !important;
    @include transition(opacity 0.3s);
    height: 100%;

    .grand-title{
        font-size: 16px;
        padding: 0;margin: 0 0 10px ;
        font-weight: 800;
        text-transform: uppercase;
    }

    #homepage-builder-wrapper{
        display: grid;
        grid-template-columns: 250px auto;
        height: calc(100% - 38px);
        &.fixed-home{
            display: block;
        }
    }

    #stock-element{
        height: 100%;
        overflow: auto;
    }

    #home-layout{

    }

    .mhp-sortable{
        .mhp-element-placeholder{
            height: 40px;
            border: solid 1px #c9c9c9;
        }
        .placeholder{
            position: absolute;
            left: 0;top: 0;bottom: 0;right: 0;
            text-align: center;
            font-weight: 200;
            font-size: 20;
            height: 40px;line-height: 40px;
            margin:  0 0;
            text-transform: uppercase;
            
        }
    }

    /**
    * Available element block
    */
    #element-available{
        padding: 0 10px 50px 0;
    }
    #mhp-element-used{
        margin: 5px 0;
        padding: 5px;
        min-height: 90px;
        background: #dadada;
        position: relative;

        &.mhp-preconfigure{
            .element-reorder{
                display: none;
            }
            .element-delete{
                display: none;
            }

            .placeholder{
                display: none;
            }
        }

    }
    
    .mhp-element{
        min-height: 40px;
        background: #fff;
        margin: 0 0 2px;
        position: relative;
        z-index: 2;
        border: solid 1px #c9c9c9;
        &.available{
            .title-block{

                cursor: pointer;
            }
            .control-trigger{
                display: none;
            }
            .title{
                border: none;
                padding: 0;
            }
        }
        &.appended{
            width: 100% !important;
            height: auto !important; 

            &.ui-sortable-helper{
                left: 0 !important;
            }
            .table-cell{
                vertical-align: middle;
            }
        }
        &.mbuilder-column-three, &.mbuilder-column-two{      
            .title-block .table-cell.icon{
                background: $orange;
            }

            &.appended{
                > .content-block{
                    display: block !important;
                }
            }
            
            .content-block{
                .title-block .table-cell.icon{
                    background: #333;
                }
            }
        }
        &.unmovable{
            border-color: #c1c1c1;
            background: #c9c9c9;
            line-height: 40px;
            padding: 0 10px;
        }
        .title-block{
            .table-cell{
                padding: 10px 5px;

                &.icon{
                    padding: 9px 10px;
                    background: #333;
                    .dashicons{
                        color: #fff;
                    }
                }
            }
        }
        .content-block{
            padding: 5px;
            font-weight: 200;
            border-top: solid 1px #c9c9c9;
            display: none;
            overflow: hidden;
            &.display{
                display: block;
            }

            .table-form{
                width: 100%;
                th{
                    vertical-align: top;
                    padding:  3px 10px 0 0;
                }
            }
        }
        .title{
            display: block;
        }
        .control-trigger{
            .dashicons{
                cursor: pointer;
                &:hover{
                    color: $brand;
                }
            }

        }
    }
}

/**
 * Column Element
 */
.mhp-element.mbuilder-column-two
,.mhp-element.mbuilder-column-three{
    .mhp-sortable{
        min-height: 40px;
        position: relative;

        .placeholder{

        }
    }
    .mhp-element.mbuilder-fake-column-element{
        display: none;
    }
}