@import "../_loader";

/**
 * Module Dashboard
 */
#dashboard-content-block{
    height: 100%;
    
    .mbuilder-menus{
        height: 100%;
    }
}
#mbuilder-menu-manage-frame{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/**
 * Menu page override
 */
body.nav-menus-php{
    background: none;
    #wpcontent, #wpfooter{
        margin-left: 0;
        padding-left: 0;
    }
    #adminmenumain{
        display: none;
    }
    .wp-heading-inline,.page-title-action,.wp-header-end{
        display: none !important;
    }
    .media-upload-form .notice, .media-upload-form div.error, .wrap .notice, .wrap div.error, .wrap div.updated{
        margin-top: 50px;
    }

    #screen-meta{
        border-top: solid 1px #ddd;
    }
    #screen-meta-links{
        .show-settings{
            border-top: solid 1px #ddd;
            &.screen-meta-active{
                border-top-width: 0;
            }
            &:focus{
                @include box-shadow(none);
            }
        }
    }
    #nav-menus-frame{
        margin-top: 50px;
    }
    
    
    .nav-tab-wrapper,.manage-menus{
        display: none !important;
    }

    #menu-name, .menu-name-label{
        display: none !important;
    }
    .menu-settings{
        display: none !important;
    }
    
    .delete-action{
        display: none !important;
    }
    
    #wpfooter{
        display: none;
    }
}