@import "../_loader";

#build-goto-dashboard{
    padding: 25px 20px 20px;
    @include gradientBg;


    .the-btn{
        background: #fff;
        height: 40px;
        padding: 0 10px;
        line-height: 38px;
        @include border-radius(10px);
        border: solid 2px $gradient-start;
        color: $gradient-start;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 10px;

        &:focus{
            @include box-shadow(none);
            background: $gradient-start;
            color: $gradient-end;
        }

        &:hover{
            color: $gradient-end;
        }

        .dashicons{
            
            font-size: 28px;
            height: 28px;width: 28px;
            margin-right: 5px;
            vertical-align: middle;
        }
    }
}

#mbuilder-microsite-slug{
    .inside{
        margin: 0;
        padding: 0;
    }

    .form-table{
        margin: 10px 0 0 10px;
        max-width: 95%;
    }
}