@import "_loader";

#add-new-object{
    position: absolute;
    top: -50px;
    right: 0;
    width: 90px;
    text-align: center;
    @include gradientText;
    border:solid 1px $gradient-start;
    background: #fff;
    @include box-shadow(none);
    text-shadow: none;

    &:hover{
        color: #fff;
        background: #0073aa;
    }
}
.mbuilder-post-form{
    max-width: 800px;
    position: relative;
    .editor-box{

        margin-bottom: 20px;

        &.title-box{

        }

        &.metabox-tag{
            padding: 10px;
            border: solid 1px #c9c9c9;
        }

        &.submit-box{
            text-align: right;
            border-top: solid 1px #c9c9c9;
            padding-top: 10px;
        }

        .box-title{
            font-weight: 800;
            text-transform: uppercase;
            font-size: 12px;
            display: block;
            margin-bottom: 3px;
        }
    }

    .title-field{
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
    }

    .regular-textarea{
        width: 100%;
        min-height: 200px;
        resize: vertical;
        padding: 10px;
    }
    
    .regular-text{
        width: 100%;
    }

    .field-group{
        border: solid 1px #c9c9c9;
        padding: 10px;
        margin-bottom: 10px;

        label{
            font-size: 10px;
            display: block;
            font-weight: 800;
        }
        > label{
            margin-bottom: 10px;
        }

        .fieldset-item{
            margin-bottom: 10px;
            display: grid;
            grid-template-columns: 100px auto;
            grid-column-gap: 10px;
        }
    }
}