@import "../_loader";

#mbuilder-themes-list{
    .column-thumbnail{
        width: 220px;
    }
    .theme-preview{
        &:before{
            padding-top: imageHeightRatio(310,206);
        }
        width: 200px;
        background: #f1f1f1;
        @include box-shadow(1px 1px 1px #c9c9c9);
    }

    .theme-name-box{
        padding: 10px 0; 
        .the-name{
            margin: 0 0 2px;
        }
        .the-path{
            display: block;
            margin-bottom: 10px;
            font-style: italic;
        }
        .the-author{
            display: block;
        }
    }

    .theme-actions{
        margin-top: 10px;
    }
}