$screen-xs : 0px;
$screen-sm : 601px;
$screen-md : 783px;
$screen-lg : 961px;
$font-size-base : 14px;

$brand          : #2D3F6C;
$orange         : #D26726;
$gradient-start : #2D3F6C;
$gradient-end   : #684088;
$gradient-white : #e9e9e9;