/**
 * Calculate Image Height to Width Ratio
 *
 * @param int $width image width
 * @param int $height image height
 * @return float image ratio in percent
 */
@function imageHeightRatio($width, $height){
    @return 0% + ($height / $width * 100);
}

/**
 * Get font size in em, relative to 14px container ($font-size-base)
 *
 * @param px $standarPixel the wanted font size in px
 * @return em font size in em for 14px container
 */
@function emFont($standarPixel){
    @return 0em + ($standarPixel / $font-size-base);
}

/**
 * Get font size in rem, relative to 14px container ($font-size-base)
 *
 * @param px $standarPixel the wanted font size in px
 * @return rem font size in rem for 14px container
 */
@function remFont($standarPixel){
    @return 0rem + ($standarPixel / $font-size-base);
}

@mixin gradientBg{
    color: $gradient-white;
    background-color: $gradient-start;
    @include filter-gradient($gradient-start, $gradient-end, horizontal);
    @include background-image(linear-gradient(135deg, $gradient-start 0%,$gradient-end 100%));
}
@mixin gradientText{
    color: $brand;
}